<% include partials/header%> 

<form action="/" method="post" autocomplete="off">
	<input type="text" name="twitter_user">
	<input type="submit">
</form>

<% tweetArray.forEach((tweet) => { %>
<ul>
	<li> 
		<ul>
			<li><%= tweet['text'] %> </li>
			<li><%= tweet['favorites'] %> </li>
			<li><%= tweet['retweets'] %> </li>
		</ul>
	</li>
</ul>
<% }); %>

<% include partials/footer%> 